<footer id="main">
  <div
    class="d-flex justify-content-center align-items-center gap-3 container-fluid bg-dark"
  >
    <a class="btn btn-outline-light btn-floating" href="#!" role="button">
      <i class="fab fa-facebook-f"> </i>
    </a>

    <a class="btn btn-outline-light btn-floating" href="#!" role="button">
      <i class="fab fa-twitter"> </i>
    </a>

    <a class="btn btn-outline-light btn-floating" href="#!" role="button">
      <i class="fab fa-google"> </i>
    </a>

    <a class="btn btn-outline-light btn-floating" href="#!" role="button">
      <i class="fab fa-instagram"> </i>
    </a>

    <a class="btn btn-outline-light btn-floating" href="#!" role="button">
      <i class="fab fa-linkedin-in"> </i>
    </a>
  </div>

  <div
    class="d-flex justify-content-center align-items-center text-white container-fluid"
  >
    © 2023 Copyright:&NonBreakingSpace;
    <a class="text-white" href="#"> Recipe World </a>
  </div>
</footer>
