<div id="main">
  <div class="pre1 d-flex justify-content-center align-items-center">
    <div class="divimg d-flex justify-content-center align-items-center">
      <img
        src="https://thumbs.dreamstime.com/b/error-page-not-found-breakfast-vector-style-wood-background-error-page-not-found-breakfast-style-108452430.jpg"
        alt=""
        srcset=""
      />
      
      <button class="buttondiv btn btn-warning btn-outline-info" routerLink="/Main View"><div class=fa-fade>Go Home</div></button>
    </div>
  </div>
</div>
