<main id="main">
  <div
    class="pre1 d-flex flex-column justify-content-center align-items-center"
  >
    <h2 class="text-center">Recipe view</h2>
    <div class="card d-flex flex-row justify-content-center rounded-4">
      <div class="card-img">
        <img
          class="img-fluid rounded-start-4"
          [src]="recipeview.imageUrl"
          alt=""
          srcset=""
        />
      </div>
      <div class="card-content">
        <h3 class="text-center">
          {{ recipeview.title }}
        </h3>
        <p>
          {{ recipeview.description }}
        </p>
        <ol class="list-group list-group-numbered list-group-flush">
          <h3>Ingredients:</h3>
          <li class="list-group-item" *ngFor="let ingredient of ingredients">
            {{ ingredient }}
          </li>
        </ol>
        <ol class="list-group list-group-numbered list-group-flush">
          <h3>Instructions:</h3>
          <li class="list-group-item" *ngFor="let instruction of instructions">
            {{ instruction }}
          </li>
        </ol>
      </div>
    </div>
  </div>
</main>
